body {
    font-family: 'Lobster', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(93, 121, 100);
    background: url('../img/Tent.png') center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 20px;
    border-radius: 10px 60px 10px;
    padding: 50px 20px;
    max-width: 90%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

.intro h1 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.intro p {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.intro .btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.photo_glass_box, .contact_glass {
    background: rgba(15, 11, 11, 0.767);
    backdrop-filter: blur(10px);
    border-radius: 10px 60px 10px;
    padding: 20px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.photo img {
    border-radius: 10px 60px 10px;
    width: 200px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.biography {
    text-align: center;
    font-size: 30px;
}

@media (min-width: 768px) {
    .photo_glass_box, .contact_glass {
        flex-direction: row;
        align-items: flex-start;
        max-width: 70%;
    }

    .photo img {
        margin-right: 20px;
    }

    .biography {
        text-align: left;
    }
}

.network {
    margin-left: 55%;
}

.works a, .social-icons a, .services a, .works a{
    color: cyan;
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }
    
    header {
        padding: 30px 10px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}
